@using EasyLearn.Models.Enums
@model EasyLearn.Models.DTOs.UserDTOs.CreateUserRequestModel

<partial name="_Notification" />


@{
    ViewData["Title"] = "Create Admin";
}

@{
    <h1>Create Admin</h1>

    <h4>CreateUserRequestModel</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gender" class="control-label"></label>
                    <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()"></select>
                    @*<select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()"></select>*@


                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="StudentshipStatus" class="control-label"></label>

                    <select asp-for="StudentshipStatus" class="form-control"
                        asp-items="Html.GetEnumSelectList<PaymentMethods>()"></select>
                    @*<select asp-for="StudentshipStatus" class="form-control"></select>*@
                    <span asp-validation-for="StudentshipStatus" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="file">Choose file</label>
                    <input type="file" name="formFile" id="formFile" />
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}