
@{
    
   
    <!-- ========== Left Sidebar Start ========== -->
    <div class="vertical-menu">

        <div data-simplebar class="h-100">
            <!--- Sidemenu -->
            <div id="sidebar-menu">
                <!-- Left Menu Start -->
                <ul class="metismenu list-unstyled" id="side-menu">
                    <li class="menu-title">Menu</li>

                    <li>
                        <a asp-action="Index" asp-controller="Course" class="waves-effect">
                            <i class="ri-dashboard-line"></i><span class="badge rounded-pill bg-success float-end">3</span>
                            <span>Dashboard</span>
                        </a>
                    </li>

            
                    <!--Manage Courses -->
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="ri-book-2-line"></i>
                            <span>Manage Courses</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a asp-controller="Course" asp-action="">Available Courses</a></li>
                            <li><a asp-controller="Course" asp-action="GetEnrolledCourses">Enrolled Courses</a></li>
                            <li><a asp-controller="Course" asp-action="UnpaidCourse">Unpaid Courses</a></li>
                            <li><a asp-controller="Course" asp-action="StudentActiveCourses">Active Courses</a></li>
                            <li><a asp-controller="Course" asp-action="GetCompletedCourses">Completed Courses</a></li>
                        
                        </ul>
                    </li>

                    <!--Manage students -->
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="ri-chat-2-line"></i>
                            <span>Manage students</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a asp-controller="Student" asp-action="Activestudent">Inactive students</a></li>

                         

                        </ul>
                    </li>



                    <!--Manage courses\ -->
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="ri-store-2-line"></i>
                            <span>Manage transactions</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a asp-controller="" asp-action="">View recent transactions</a></li>
                            <li><a asp-controller="" asp-action="">Pending transactions</a></li>


                        </ul>
                    </li>


                    <li class="menu-title">Settings</li>


                    <!--Manage courses\ -->
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="ri-account-circle-line"></i>
                            <span>My Account</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a asp-controller="" asp-action="">Profile Update</a></li>
                            <li><a asp-controller="" asp-action="">Change Password</a></li>
                            <li><a asp-controller="" asp-action="">My Wallet</a></li>

                        </ul>
                    </li>

                 
                </ul>
            </div>
            <!-- Sidebar -->
        </div>
    </div>
    <!-- Left Sidebar End -->
}