
<meta charset="utf-8" />
<title>@ViewBag.Title | EasyLearn </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="EasyLearn" name="description" />
<meta content="EasyLearn" name="author" />
<!-- App favicon -->
<link rel="shortcut icon" href="~/assets/images/favicon.ico">